.carousel-image {
    height: 350px;
}

.fixed-height {
    width: 100%;
    height: 250px;
}

.opacity100 {
    opacity: 100%;
}

.opacity90 {
    opacity: 90%;
}

.opacity75 {
    opacity: 75%;
}

.footer-height {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 125px;
}

.whitespace {
    margin-bottom:200px;
}

.form-fill {
    max-width: 750px;
}

.user-form-fill {
    max-width: 600px;
}


/* BACKGROUNDS WITH PICTURES*/

.background-contact {
    background-image: url("../images/spacehorizon50.jpg");
    background-repeat: no-repeat;
}

.background {
    background-image: url("../images/octopustentacles50.jpg");
    background-repeat: no-repeat;
}

/* COLOR STYLES */

.topnav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  .topnav a {
    color: #f1f2f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #141414;
    color: #88ecce;
  }
  
  .topnav a.active {
    background-color: #376d51;
    color: #f1f2f3;
  }

.solid-bg-steel {
    background-color: #6a8a84;
}

.solid-bg-cultured {
    background-color: #f1f2f3;
    color: #141414;
}

.footer-color-style {
    background-color: #141414;
    color: #88ecce;
}

.links a {
    color: #f1f2f3;
}

.content-card h3 {
    color: #f1f2f3;
}

.content-card p {
    color: #141414;
}

.text-small {
    color: #88ecce;
}

.btn-custom-amazon {
    bg
}
  /* CSS HEX
--cultured: #f1f2f3;
--magic-mint: #88ecce;
--green-sheen: #79bba9;
--steel-teal: #6a8a84;
--hookers-green: #517c6b;
--amazon: #376d51;
--eerie-black: #141414; */