.carousel-image {
    height: 275px;
}

.background {
    background-image: url("https://media.npr.org/assets/img/2018/08/15/gettyimages-150638265_wide-cea9e22be9d991fb4d2862ad0cb91a5682f5ca99.jpg");
    background-repeat: no-repeat;
}

.opacity90 {
    opacity: 90%;
}